<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
    <div class="col-xs-12">
      <app-recipe-item
        (selectedRecipe)="onRecipeSelected($event)"></app-recipe-item>
    </div>
  </div>
  <div class="col-md-8" *ngIf="selectedRecipe.length > 0; else infoText">
    <app-recipe-detail
      [selectedRecipe]="selectedRecipe"></app-recipe-detail>
  </div>
  <ng-template #infoText>
    <div class="col-sm-8">
      <p>Please select a recipe!</p>
    </div>
  </ng-template>
</div>
