<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-fluid"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe[0].name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a hre="#">Add to shopping list</a></li>
        <li><a hre="#">Edit Recipe</a></li>
        <li><a hre="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ selectedRecipe[0].description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredients</p>
  </div>
</div>
